<mat-toolbar>
  <div id="arriba">
    <div  id="logo"> 
      <img clas="logo" src="assets/generali.png" width="70px" height="70px">
    </div>
  </div>
</mat-toolbar>
<div>
  <mat-horizontal-stepper labelPosition="bottom" #stepper>
    <mat-step [stepControl]="firstFormGroup">
       
   
  <form [formGroup]="firstFormGroup">
           <ng-template matStepLabel>Vivienda</ng-template>
          <div > 
            <h4>¿Qué relación tiene con la vivienda? </h4>
            <mat-button-toggle-group name="relacion" aria-label="Font Style">
              <mat-button-toggle  value="propietarioPropiedad">Propietario en propiedad</mat-button-toggle>
              <br>
              <br>
              <mat-button-toggle value="propietarioAlquiler">Propietario pero está alquilada</mat-button-toggle>
              <br>
              <mat-button-toggle value="inquilino">Inquilino</mat-button-toggle>
            </mat-button-toggle-group>
          

          <h4>¿Qué uso se le da a la vivienda? </h4>
          <mat-button-toggle-group name="uso" aria-label="Font Style">
            <mat-button-toggle  value="habitual">Habitual</mat-button-toggle>
            <br>
            <mat-button-toggle value="secundatia">Secundaria</mat-button-toggle>
            <br>
            <mat-button-toggle value="finesDesemana">Fines de semana</mat-button-toggle>
            <br>
            <mat-button-toggle value="vacacional">Vacacional</mat-button-toggle>
            <br>
            <mat-button-toggle value="desocupada">Desocupada</mat-button-toggle>
          </mat-button-toggle-group>
        </div>
  
        <h4>¿Cuantas personas conviven en la vivienda? </h4>
            <mat-button-toggle-group name="personasVivienda" aria-label="Font Style">
              <mat-button-toggle value="uno">1</mat-button-toggle>
              <mat-button-toggle value="dos">2</mat-button-toggle>
              <mat-button-toggle value="tres">3</mat-button-toggle>
              <mat-button-toggle value="cuatro">4</mat-button-toggle>
              <mat-button-toggle value="cinco">5</mat-button-toggle>
              <mat-button-toggle value="masDeCinco">+5</mat-button-toggle>
            </mat-button-toggle-group>

          
           <!--
           <mat-form-field>
           <input matInput placeholder="Last name, First name" formControlName="firstCtrl" required><br>
          </mat-form-field>
         -->
   
  <div>
    
            
            <br>
            <br>
            <h4>Localización de la vivienda: </h4>
            <mat-button-toggle-group name="localizacion" aria-label="Font Style">
              <mat-button-toggle value="urbano">CascoUrbano</mat-button-toggle>
              <mat-button-toggle value="afueras">Afueras</mat-button-toggle>
              <mat-button-toggle value="lonely">Loney</mat-button-toggle>
            </mat-button-toggle-group>
            <br>
            <br>
            <h4>Selecciona el numero de hijos: </h4>
            <mat-button-toggle-group name="Numero de hijos" aria-label="Font Style">
              <mat-button-toggle value="uno">1</mat-button-toggle>
              <mat-button-toggle value="dos">2</mat-button-toggle>
              <mat-button-toggle value="tres">3</mat-button-toggle>
              <mat-button-toggle value="cuatro">4</mat-button-toggle>
              <mat-button-toggle value="cinco">5</mat-button-toggle>
              <mat-button-toggle value="masDeCinco">+5</mat-button-toggle>
            </mat-button-toggle-group>
            <br>
            <br>
            
            <br>
          <button mat-button matStepperNext>Next</button>
        </div>
  
       </form>
   
   
    </mat-step>
    <mat-step [stepControl]="secondFormGroup">
      
   
  <form [formGroup]="secondFormGroup">
        <ng-template matStepLabel>Personales</ng-template>
        <mat-form-field>
          <input matInput placeholder="Address" formControlName="secondCtrl" required>
        </mat-form-field>
         
   
  <div>
          <button mat-button matStepperPrevious>Back</button>
          <button mat-button matStepperNext>Next</button>
        </div>
   
   
     </form>
   
   
    </mat-step>
    <mat-step>
      <ng-template matStepLabel>Contratación</ng-template>
   
  <div>
        <button mat-button matStepperPrevious>Back</button>
        <button mat-button (click)="stepper.reset()">Reset</button>
      </div>
   
    </mat-step>
  </mat-horizontal-stepper>

</div>

<mat-toolbar>
<div class="abajo-ayuda">
  <div >
     <!--empieza boton de ayuda-->
     <button class="effectinfo" (click)="showBottomSheet()">?</button>
      
     <!--acaba botÛn de ayuda-->
  </div>
 
</div>
</mat-toolbar>

<div id=”fixed”>
  CONTENIDO
</div>